/**
 * adminLayout.module.css
 * ------------------------------------------------
 * קובץ עיצוב עבור Layout של מערכת הניהול
 *
 * תפקיד הקובץ:
 * - להגדיר את מבנה העמוד הראשי של אזור הניהול
 * - ליצור מרווח בין התוכן לבין Sidebar
 *
 * מבנה:
 * Sidebar בצד ימין
 * תוכן הדפים בצד שמאל
 */

.layout{
  display:flex;
}

.main{
  margin-right:5px;
  width:100%;
}