@import url('https://fonts.googleapis.com/css2?family=Paytone+One&family=Raleway:wght@400;700&display=swap');

/* #region global */
/*
=============== 
Global Styles
===============
*/

:root {
  font-size: 62.5%;
  
}

html, body, #root {
  height: 100%;
  margin: 0;
  
}

*,
::after,
::before {
  box-sizing: border-box;
}



body {
  font-family: 'Raleway', sans-serif;
  display: flex;
  flex-direction: column;
 
}

ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4 {
  color: #222;
  letter-spacing: 0.1rem;
  text-transform: capitalize;
}
h1 {
  
  color: hsl(205, 77%, 27%);
  font-size: 3rem;
  text-align: center;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

p {
  margin-bottom: 1.3rem;

  font-size: 1.8rem;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  padding: .5em 1em;
  border: 1px solid gray;
  font-size: 2rem;
}

@media (min-width: 80rem) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 3rem;
  }
  h3 {
    font-size: 2rem;
  }

  body {
    font-size: 1rem;
  }

  p {
    font-size: 1.8rem;
  }
}

/* #endregion global */
